# initial_orbit_determination and iod_functions dependencies

# Last tested version:

# astropy			5.3.4
# astroquery		0.4.7
# matplotlib		3.9.1
# numpy				1.26.4
# pandas			2.2.2
# poliastro 		0.18.dev0 (my fork)
# scipy				1.14.0

astropy
astroquery
matplotlib
numpy
https://github.com/joebro1907/poliastro/archive/main.zip
pandas
scipy